<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>

<body>
<header th:insert="blocks/header :: header"></header>

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-right justify-content-right justify-content-lg-start">
            <a href="/" class="d-flex align-items-right mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <div class="text-end ">
                <form action="/IncomingRequest/start" method="post">
                    <button type="submit" class="btn btn-warning ">Запустить алгоритм</button>
                </form>
                <form action="/IncomingRequest/stop" method="post">
                    <button type="submit" class="btn btn-outline-light me-2 mt-1 mb-1">Остановить</button>
                </form>
                <form action="/IncomingRequest/startSMS" method="post">
                    <button type="submit" class="btn btn-outline-light me-2 mt-1 mb-1">Запуск СМС</button>
                </form>
                <form action="/IncomingRequest/stopSMS" method="post">
                    <button type="submit" class="btn btn-outline-light me-2 mt-1 mb-1">Остановить СМС</button>
                </form>
            </div>
        </div>
    </div>


    <div class="container mt-5">

    </div>
</header>

<header th:insert="blocks/Table :: Table"></header>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>

