<div th:fragment="headerTable" xmlns:th="http://www.w3.org/1999/xhtml">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Время обработки</th>
            <th scope="col">Статус</th>
            <th scope="col">Наименование программы</th>
            <th scope="col">C</th>
            <th scope="col">По</th>
            <th scope="col">Номер заявки</th>
            <th scope="col">ФИО</th>
            <th scope="col">СНИЛС</th>
            <th scope="col">Год рождения</th>
            <th scope="col">Регион слушателя</th>
            <th scope="col">Специальности</th>
            <th scope="col">Место работы</th>
            <th scope="col">Регион работодателя</th>
            <th scope="col">Должность</th>
            <th scope="col">Дата подачи заявки</th>
            <th scope="col">Заявка подтверждена</th>
            <th scope="col">Основа обучения</th>
            <th scope="col">Одобрено работодателем</th>
            <th scope="col">Оплачено</th>
            <th scope="col">Дата платежа</th>
            <th scope="col">Оплата получена</th>
            <th scope="col">Email</th>
            <th scope="col">Номер телефона</th>
            <th scope="col">Плательщик</th>
            <th scope="col">Дополнительная информация по заявке</th>
            <th scope="col">Комментарий по заявке</th>
            <th scope="col">Дополнительная информация по клиенту</th>
            <th scope="col">Комментарий по клиенту</th>
            <th scope="col">Комментарии от университета</th>
        </tr>
</div>