<div th:fragment="Table" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead th:insert="blocks/headerTable :: headerTable">
            </thead>
            <tbody>

            <div th:each="el,state : ${requests}">
                <tr>
                    <td th:text="${state.count}">
                    <td th:text="${el.dateOperation}">
                </tr>
            </div>

            </tbody>
        </table>
    </div>
</div>